body {
    overflow-x: hidden;
}

.footer {
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
}

.listContainer {
    margin-bottom: 19rem;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.About-section {
    border: solid 2px rgb(110, 110, 110);
    border-radius: 5px;
    padding-: 50px;
    margin-top: 50px;
    margin-bottom: 16rem;
}

.para {
    color: rgb(110, 110, 110);
}

.todo {
    width: 30%;
    /* height: 20rem; */
    min-height: 20rem;
}